<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <link rel="stylesheet" href=" https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<h2>Hello</h2>
<form method="post">
    <button id="addUser" name="addUser" type="submit">Click Me</button>


</form>

<div id="search">
    <form method="post" action="searchOrder">
        <p><label>Имя</label>
            <input type="text" name="name"><span></span></p>

        <p><label>Фамилия</label>
            <input type="text" name="surname"><span></span></p>
        <button name="searchOrder" type="submit">SearchOrder</button>

    </form>
</div>


<div id="all">
    <button v-on:click="show = !show">
        Показать все заказы
    </button>
    <li v-if="show" v-for="order in orders" :key="order.id">
        {{ order.id }} - {{order.firm}} - {{order.warranty}}
    </li>
</div>
<script src="js/main.js"></script>

</body>
</html>